@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Movil */
@media (max-width: 600px) {
  .main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
    color: #fff;
    padding-top: 10px;
    .section_form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      height: 30%;
      .form_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        .select_options_main {
          border-radius: 18px;
          background-color: var(--color-claro-base);
          border: 1px solid var(--yellow-base);
        }
      }
      .body_message {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        background-color: var(--color-claro-base);
        color: var(--text-placeholder-claro);
      }
      .button_send {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        font-size: 18px;
        background-color: var(--orange-base);
        border: 1px solid var(--text-placeholder-claro);
        color: var(--color-dark-base);
        border-radius: 15px;
      }
      .icon_send {
        font-size: 15px;
      }
      .input_number {
        height: 40px;
        font-size: 18px;
        padding-left: 5px;
        background-color: var(--color-claro-base);
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        color: var(--button-primary-hover);
      }
      .input_number::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
      }
      .option_select {
        font-size: 18px;
      }
      .sub_title {
        font-size: 18px;
      }
    }
    .horizontal_line {
      border-bottom: 1px solid #fff;
      width: 95%;
    }
    .form_save_number {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 5px;
      font-size: 18px;
      .form_input_save {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5px;
        font-size: 18px;
        .input_save {
          background-color: var(--color-claro-base);
          border-radius: 15px;
          border: 1px solid var(--yellow-base);
          color: var(--button-primary-hover);
          padding-left: 5px;
          height: 40px;
          font-size: 18px;
          width: 300px;
        }
        .input_save::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
        }
      }
    }
    .button_save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 300px;
      height: 35px;
      font-size: 18px;
      background-color: var(--orange-base);
      border: 1px solid var(--text-placeholder-claro);
      color: var(--color-dark-base);
      border-radius: 15px;
    }
    .icon_save {
      font-size: 18px;
    }
    .contacts_saved {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5px;
      overflow-y: auto;
    }
    .card_contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      gap: 10px;
      color: var(--color-dark-base);
      .name_contact {
        background-color: var(--orange-base);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 45px;
        font-size: 18px;
      }
      .name_contact_delete {
       font-size: 35px;
        background-color: --var(--text-placeholder-claro);
        border-radius: 50%;
        border: 1px;
      }
    }
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1023px) {
 .main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
    color: #fff;
    padding-top: 10px;
    .section_form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      height: 30%;
      .form_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        .select_options_main {
          border-radius: 18px;
          background-color: var(--color-claro-base);
          border: 1px solid var(--yellow-base);
        }
      }
      .body_message {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        background-color: var(--color-claro-base);
        color: var(--text-placeholder-claro);
      }
      .button_send {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        font-size: 18px;
        background-color: var(--orange-base);
        border: 1px solid var(--text-placeholder-claro);
        color: var(--color-dark-base);
        border-radius: 15px;
      }
      .icon_send {
        font-size: 15px;
      }
      .input_number {
        height: 40px;
        font-size: 18px;
        padding-left: 5px;
        background-color: var(--color-claro-base);
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        color: var(--button-primary-hover);
      }
      .input_number::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
      }
      .option_select {
        font-size: 18px;
      }
      .sub_title {
        font-size: 18px;
      }
    }
    .horizontal_line {
      border-bottom: 1px solid #fff;
      width: 95%;
    }
    .form_save_number {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 5px;
      font-size: 18px;
      .form_input_save {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5px;
        font-size: 18px;
        .input_save {
          background-color: var(--color-claro-base);
          border-radius: 15px;
          border: 1px solid var(--yellow-base);
          color: var(--button-primary-hover);
          padding-left: 5px;
          height: 40px;
          font-size: 18px;
          width: 300px;
        }
        .input_save::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
        }
      }
    }
    .button_save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 300px;
      height: 35px;
      font-size: 18px;
      background-color: var(--orange-base);
      border: 1px solid var(--text-placeholder-claro);
      color: var(--color-dark-base);
      border-radius: 15px;
    }
    .icon_save {
      font-size: 18px;
    }
    .contacts_saved {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5px;
      overflow-y: auto;
    }
    .card_contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      gap: 10px;
      color: var(--color-dark-base);
      .name_contact {
        background-color: var(--orange-base);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 45px;
        font-size: 18px;
      }
      .name_contact_delete {
        font-size: 35px;
        background-color: --var(--text-placeholder-claro);
        border-radius: 50%;
        border: 1px;
      }
    }
  }
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1439px) {
 .main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
    color: #fff;
    padding-top: 10px;
    .section_form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      height: 30%;
      .form_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        .select_options_main {
          border-radius: 18px;
          background-color: var(--color-claro-base);
          border: 1px solid var(--yellow-base);
        }
      }
      .body_message {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        background-color: var(--color-claro-base);
        color: var(--text-placeholder-claro);
      }
      .button_send {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        font-size: 18px;
        background-color: var(--orange-base);
        border: 1px solid var(--text-placeholder-claro);
        color: var(--color-dark-base);
        border-radius: 15px;
      }
      .icon_send {
        font-size: 15px;
      }
      .input_number {
        height: 40px;
        font-size: 18px;
        padding-left: 5px;
        background-color: var(--color-claro-base);
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        color: var(--button-primary-hover);
      }
      .input_number::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
      }
      .option_select {
        font-size: 18px;
      }
      .sub_title {
        font-size: 18px;
      }
    }
    .horizontal_line {
      border-bottom: 1px solid #fff;
      width: 95%;
    }
    .form_save_number {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 5px;
      font-size: 18px;
      .form_input_save {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5px;
        font-size: 18px;
        .input_save {
          background-color: var(--color-claro-base);
          border-radius: 15px;
          border: 1px solid var(--yellow-base);
          color: var(--button-primary-hover);
          padding-left: 5px;
          height: 40px;
          width: 300px;
          font-size: 18px;
        }
        .input_save::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
        }
      }
    }
    .button_save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 300px;
      height: 35px;
      font-size: 18px;
      background-color: var(--orange-base);
      border: 1px solid var(--text-placeholder-claro);
      color: var(--color-dark-base);
      border-radius: 15px;
    }
    .icon_save {
      font-size: 18px;
    }
    .contacts_saved {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5px;
      overflow-y: auto;
    }
    .card_contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      gap: 10px;
      color: var(--color-dark-base);
      .name_contact {
        background-color: var(--orange-base);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 45px;
        font-size: 18px;
      }
      .name_contact_delete {
       font-size: 35px;
        background-color: --var(--text-placeholder-claro);
        border-radius: 50%;
        border: 1px;
      }
    }
  }
}

/* Pantallas grandes */
@media (min-width: 1440px) {
 .main_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 10px;
    color: #fff;
    padding-top: 10px;
    .section_form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      height: 30%;
      .form_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        .select_options_main {
          border-radius: 18px;
          background-color: var(--color-claro-base);
          border: 1px solid var(--yellow-base);
        }
      }
      .body_message {
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        background-color: var(--color-claro-base);
        color: var(--text-placeholder-claro);
      }
      .button_send {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        font-size: 18px;
        background-color: var(--orange-base);
        border: 1px solid var(--text-placeholder-claro);
        color: var(--color-dark-base);
        border-radius: 15px;
      }
      .icon_send {
        font-size: 15px;
      }
      .input_number {
        height: 40px;
        font-size: 18px;
        padding-left: 5px;
        background-color: var(--color-claro-base);
        border-radius: 15px;
        border: 1px solid var(--yellow-base);
        color: var(--button-primary-hover);
      }
      .input_number::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
      }
      .option_select {
        font-size: 18px;
      }
      .sub_title {
        font-size: 18px;
      }
    }
    .horizontal_line {
      border-bottom: 1px solid #fff;
      width: 95%;
    }
    .form_save_number {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 5px;
      font-size: 18px;
      .form_input_save {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 5px;
        font-size: 18px;
        .input_save {
          background-color: var(--color-claro-base);
          border-radius: 15px;
          border: 1px solid var(--yellow-base);
          color: var(--button-primary-hover);
          padding-left: 5px;
          height: 40px;
          font-size: 18px;
          width: 300px;
        }
        .input_save::placeholder {
        color: var(--text-placeholder-claro);
        opacity: 0.5;
        }
      }
    }
    .button_save {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 300px;
      height: 35px;
      font-size: 18px;
      background-color: var(--orange-base);
      border: 1px solid var(--text-placeholder-claro);
      color: var(--color-dark-base);
      border-radius: 15px;
    }
    .icon_save {
      font-size: 18px;
    }
    .contacts_saved {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5px;
      overflow-y: auto;
    }
    .card_contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      gap: 10px;
      color: var(--color-dark-base);
      .name_contact {
        background-color: var(--orange-base);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 25px;
        padding: 5px;
        width: 100%;
        height: 45px;
        font-size: 18px;
      }
      .name_contact_delete {
        font-size: 35px;
        background-color: --var(--text-placeholder-claro);
        border-radius: 50%;
        border: 1px;
      }
    }
  }
}
